@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:ital,wght@0,200;1,400;1,600&family=Titillium+Web:wght@200&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: rgb(244, 244, 245);
  background: linear-gradient(
    0deg,
    rgba(244, 244, 245, 0.927608543417367) 0%,
    rgba(252, 252, 252, 1) 100%,
    rgba(34, 34, 34, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
 min-height: 100vh;
}
.quiz-container {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  overflow: hidden;
}
.quiz-header{
    padding: 4rem;
    list-style-type: none;
}
h2{
    margin: 0;
}
 ul {
     list-style-type: none;
     padding: 0;
     margin-left: 70px;
     margin-top: 50px;
}
ul li{
    font-size: 1.1rem;
    margin: 1rem 0;
}
ul li label{
  cursor: pointer;
}
button {
    background-color: #4834d4;
    border: none;
    color: white;
    font-family: inherit;
    font-size: 1.3rem;
    display: block;
    width: 100%;
    padding: 1.3rem;
    cursor: pointer;
}
button:hover{
    background-color: #686de0;
}
